{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>
    <div class="text-right mb-1">
        <a href="{{ path('user_export') }}" class="btn btn-outline-info">
            Export
        </a>
    </div>
    <div class="mb-2">
        <form class="form-inline" action="{{ path('user_search') }}" method="get">
            <input class="form-control mr-sm-2" name="mot_clef" type="text" placeholder="Recherche">
            <input type="submit" value="Rechercher" />
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Roles</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'utilisateur !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-outline-secondary mt-1">Créer un nouvel utilisateur</a>
{% endblock %}
